.mainhead {
  margin: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.navbar-brand {
  font-size: x-large;
  font-weight: 4rem;
}
.container {
  margin: auto;
  width: 100vw;
  display: flex;
  /* border: 1px solid white; */
  justify-content: space-around;
  background: rgb(255, 241, 241);
}

.cat {
  margin: 0;
  padding: 0;
}

.slide {
  margin-top: 2rem;
}
.head {
  margin-top: 6rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
}
.cardone {
  margin: 1rem;
  display: flex;
}
.inner {
  margin: 0.7rem;
  width: 20%;
  height: 100;
}
.deep {
  height: 400%;
  width: 400%;
  display: block;
  border-radius: 50%;
}
